html {
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	color: var(--text-color-main);
	background-color: var(--bg) !important;
	font-family: var(--font-family) !important;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	display: block;
}

.footer {
	margin-top: auto;
}

.button {
	border-radius: 4px;
	padding: 22px 47px;
	font-family: var(--second-family);

	@media (max-width: 768px) {
		padding: 11px 23px;
	}
}

.button--accent {
	background: var(--accent);
}

.filter-input {
	border: 1px solid var(--small-text);
	text-align: center;
	border-radius: 4px;
}

.title-1 {
	font-family: var(--second-family);
	font-size: 36px;
	line-height: 140%;
}

.title-2 {
	font-family: var(--third-family) !important;
	font-weight: 700;
	font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem); //30-24
}

.title-4 {
	font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem); //24-16
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #cbd5e1 #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #cbd5e1;
	border-radius: 3px;
}
