:root {
	--container-width: 1210px;
	--container-padding: 15px;

	--font-family: "Comfortaa", sans-serif;
	--second-family: "Comfortaa-Bold", sans-serif;
	--third-family: "Comfortaa-Light", sans-serif;

	--bg: #484283;
	--accent: #f14f4f;
	--text-color-light: #fff;
	--text-color-main: #444b58;
	--small-text: #dbbba9;
	--sec-bg: #fff4ee;
	--gray: #b2b5bb;
	--border-radius-filter: 4px;
}
