@media (max-width: 630px) {
  .catalog-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Наведение на продукт
.catalog-product-hover {
  position: relative;
  overflow: hidden; // Для предотвращения выхода фона и кнопок за границы

  &:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1; // Чтобы фон оказался позади кнопок
  }

  .product-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; // Кнопки по умолчанию скрыты
    z-index: 2; // Кнопки поверх фона
    gap: 10px;

    button {
      background: var(--text-color-main);
      border: none;
      width: clamp(40px, 10vw, 80px); // Минимум 60px, зависит от ширины экрана, максимум 100px
      height: clamp(40px, 10vw, 80px);
      cursor: pointer;
      transition: 0.3s;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover .product-buttons {
    display: flex; // Показывать кнопки при наведении
  }
}
